<% if (post.prev || post.next){ %>
<nav id="article-nav">
  <% if (post.prev){ %>
    <a href="<%- url_for(post.prev.path) %>" id="article-nav-newer" >
      <strong><%= __('newer') %></strong>
      <div>
        <% if (post.prev.title){ %>
          <%= post.prev.title %>
        <% } else { %>
          (no title)
        <% } %>
      </div>
    </a>
  <% } %>
  <% if (post.next){ %>
    <a href="<%- url_for(post.next.path) %>" id="article-nav-older">
      <strong><%= __('older') %></strong>
      <div><%= post.next.title %></div>
    </a>
  <% } %>
</nav>
<% } %>