<div class="row work-item-row">
  <div class="col-sm-8 col-sm-offset-2 project">
    <article id="<%= post.layout %>-<%= post.slug %>" itemscope itemprop="blogPost">
      <div>
        <%- partial('post/date', {date_format: null}) %>
        <%- partial('post/category') %>
      </div>
      <div>
        <%- partial('post/gallery') %>
        <% if (post.link || post.title){ %>
          <header>
            <%- partial('post/title') %>
          </header>
        <% } %>
        <div itemprop="articleBody">
          <% if (post.excerpt && index){ %>
            <%- post.excerpt %>
            <% if (theme.excerpt_link){ %>
              <p>
                <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
              </p>
            <% } %>
          <% } else { %>
            <%- post.content %>
          <% } %>
        </div>
      </div>
    </article>
  </div>
</div>