<% if (pagination == 2){ %>
  <% page.posts.each(function(post){ %>
    <%- partial('article', {post: post, index: true}) %>
  <% }) %>
<% } else { %>
  <% var last; %>
  <% page.posts.each(function(post, i){ %>
    <% var year = post.date.year(); %>
    <% if (last != year){ %>
      <% if (last != null){ %>
        </div></section>
      <% } %>
      <% last = year; %>
      <section>
        <div>
          <a href="<%- url_for(config.archive_dir + '/' + year) %>"><%= year %></a>
        </div>
        <div>
    <% } %>
    <%- partial('archive-post', {post: post, even: i % 2 == 0}) %>
  <% }) %>
  <% if (page.posts.length){ %>
    </div></section>
  <% } %>
<% } %>
<% if (page.total > 1){ %>
  <div class="row work-item-row">
      <div class="col-sm-8 col-sm-offset-2 project">
        <nav id="page-nav">
          Pages<br>
          <%- paginator({prev_next:false}) %>
        </nav>
      </div>
  </div>
<% } %>
