<div class="col-sm-2 about-me about-side text-center hidden-xs">
		<a href="<%= theme.link_home %>"> <%- image_tag('images/profiler-round2.png', {width:200, class:'profile-pic img-responsive center-block'}) %></a>
		<h1><%= config.author %></h1>
		<h2><%= theme.author_description %></h2>
		<h3><%= theme.topics %></h3>

		<div class="text-center" style="margin-top: 20px;">
			<%- partial('_partial/social') %>
		</div>

		<div class="text-center" style="margin-top: 20px;">
			<%- partial('_partial/hobbies') %>
		</div>
		<div class="text-center" style="margin-top: 20px;">
			<% theme.widgets.forEach(function(widget){ %>
			    <%- partial('_widget/' + widget) %>
			<% }) %>
		</div>
</div>

<div class="text-center about-me hidden-sm hidden-md hidden-lg">
		<%- image_tag('images/profiler-round2.png', {width:200, class:'profile-pic img-responsive center-block'}) %>
		<h1><%= config.author %></h1>
		<h2><%= theme.author_description %></h2>
		<h3><%= theme.topics %></h3>

	<div class="text-center" style="margin:20px">
	</div>
</div>