<div class="col-sm-2 about-me about-side text-center hidden-xs">
		<%- image_tag('images/profiler-round2.png', {width:200, class:'profile-pic img-responsive center-block'}) %>
		<h1>Rob Steiner</h1>
		<h2>Amature Tourist</h2>
		<h3>Places - Events - Culture</h3>

		<div class="text-center" style="margin-top: 20px;">
			<a href="https://twitter.com/robbythedude" class="cta-icon"><i class="devicon-twitter-plain colored"></i></a>
			<a href="https://github.com/robbythedude" class="cta-icon"><i class="devicon-github-plain colored"></i></a>
			<a href="https://www.linkedin.com/in/robsteineriii/" ><%- image_tag('images/linkedin.png', {height:29, width:29, class:'hobby-iconX2'}) %></a>
			<a href="https://stackoverflow.com/users/story/1888609" ><%- image_tag('images/stackoverflow.png', {height:29, width:29, class:'hobby-iconX2'}) %></a>
		</div>

		<div class="text-center" style="margin-top: 20px;">
			<button class="btn btn-secondary dropdown-toggle" type="button" id="hobbiesbutton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hobbies</button>
			<div class="slidediv" style="display: none;">				
				<a href="construction.html" ><%- image_tag('images/unreal.png', {height:29, width:29, class:'hobby-icon'}) %></a>
				<a href="construction.html" ><%- image_tag('images/construct.png', {height:29, width:29, class:'hobby-icon'}) %></a></br>
				<a href="construction.html" ><%- image_tag('images/blender.png', {height:29, width:29, class:'hobby-icon'}) %></a>
				<a href="https://soundcloud.com/clarksteinberg" target="blank"><%- image_tag('images/soundcloud.png', {height:29, width:29, class:'hobby-icon'}) %></a></br>
				<a href="construction.html" ><%- image_tag('images/handyman.png', {height:29, width:29, class:'hobby-icon'}) %></a>
				<a href="construction.html" ><%- image_tag('images/travel.png', {height:29, width:29, class:'hobby-icon'}) %></a>
			</div>
		</div>
		<div class="text-center" style="margin-top: 20px;">
			<% theme.widgets.forEach(function(widget){ %>
			    <%- partial('_widget/' + widget) %>
			<% }) %>
		</div>
</div>

<div class="text-center about-me hidden-sm hidden-md hidden-lg">
		<%- image_tag('images/profiler-round2.png', {width:200, class:'profile-pic img-responsive center-block'}) %>
		<h1>Rob Steiner</h1>
		<h2>Amature Tourist</h2>
		<h3>Places - Events - Culture</h3>

	<div class="text-center" style="margin:20px">
	</div>
</div>